@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0;

}body {
    transition: background-color 0.3s, color 0.3s;
}
/* Transição suave de modo claro e escuro */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Quando o corpo está no modo escuro */
body.dark-mode #bg, body.dark-mode #card {
    background-color: #121212;
    color: #f1f1f1;
}

/* Estilo aplicado enquanto a página carrega, evitando flashes de cor */
body.loading {
    background-color: #f1f1f1; /* Cor de fundo neutra, como cinza claro */
    color: #000; /* Cor de texto adequada para o fundo claro */
}


#bg.dark-mode {
    background-color: #4c4c4c;
    color: rgb(226, 226, 226);
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    min-height: 100vh;
    overflow-y: auto;
}
.card{
    background-color: whitesmoke;
    color: #343333;
}
.card.dark-mode {
    background-color: #343333;
    color: whitesmoke;
}


.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #343333;
}

.lead {
    font-size: 16px;
    font-weight: 400;

}